body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'MV Boli';
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1.5vh;
    
    
}
input{
    border-radius:10px;
    border: 2px solid hsla(218, 87%, 47%, 0.804);
    text-indent: 5px;
    min-width: 25vh;
    max-height: 35vh;
    min-height: 4vh;
    text-align: center;
}
.container{
    width: 100%;
    height:100vh;
}

table{
    width: 75%;
    margin: auto;
}

td, th{
    height: 50px;
    text-align: center;
    min-height: 50px;
    max-width: 50px;
    
}

table, th, td {
    border: solid black 2px;
    border-collapse: collapse;
}

#submitButton{
    min-height: 4vh;
    min-width: 20vh;
    max-width: 30vh;
    border: 3px solid transparent;
    border-radius: 20px;
    padding: 5px;
    background-color: hsla(0, 11%, 9%, 0.872);
    color: whitesmoke;
    font-weight: bold;
    font-family: 'MV Boli';
}

#submitButton:hover{
    border: 3px inset lightblue;
    background-color: transparent;
    color: black;
    font-weight: bold;
}
/* #submitButton{

} */
#arrow{
    display: inline;
    border: 2px solid black;
    border-radius: 70%;
}